<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-2">
    <div class="container">
      {{ if eq .Site.Language.Lang "ja" }}
        <a class="navbar-brand" href="{{ .Site.BaseURL }}/"><b>TAGUCHI Yuma</b></a>
      {{ else }}
        <a class="navbar-brand" href="{{ .Site.BaseURL }}/en/"><b>TAGUCHI Yuma</b></a>
      {{ end }}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          </li>
        </ul>
        <ul class="navbar-nav">
          {{ if .IsTranslated }}
          {{ range .Translations }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .Permalink }}">
              En⇄Ja
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
<br>
<br>
<br>