<!-- SIDEBAR -->
<div id="sidebar" class="pure-u-1 pure-u-md-1-4 pure-u-sm-1">
    <div class="pad">
        <div class="profile">
            <!-- <h5 class="sidebar-header">Profile</h4> -->
            <img class="rounded-circle d-block mx-auto" src="{{ .Site.BaseURL }}/images/taguchi.jpg" alt="myphoto" width="30%" style="margin-bottom: 10px;">
            <a href="{{ .Site.BaseURL }}" style="color:#000000;"><h4 align="center">Yuma Taguchi</h4></a>
            <p align="center">Master student of Graduate School of Informatics, Nagoya University. </p>
        </div>
        <hr>

        <h5>Latest Articles</h5>
        <div class="pure-menu pure-menu-open">
            {{ range (where .Site.RegularPages "Section" "posts")}}
            - <a href="{{ .Permalink }}" class="pure-menu-link">{{ .Title }} (<time>{{.Date.Format "2006.01.02"}}</time>)<br></a>
            {{ end }}
        </div>
        <hr>

        <h5>Categories</h5>
         {{ range .Site.Taxonomies.categories }}
            -<a href="{{ .Page.Permalink }}">
             {{ .Page.Title }}
            </a>
            <span>({{ .Count }})</span><br>
        {{ end }}
        <hr>

        <h5>Tags</h5>
        {{ range .Site.Taxonomies.tags }}
            -<a href="{{ .Page.Permalink }}">
             {{ .Page.Title }}
            </a>
            <span>({{ .Count }})</span><br>
        {{ end }}
    </div> <!-- pad -->
</div> <!-- sidebar -->