{{ define "main"}}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
					<div class="container">
						<br>
						<center>
							<img class="rounded-circle d-block mx-auto" src="{{ .Site.BaseURL }}/images/taguchi.jpg" alt="myphoto" width="200px" style="margin: 10px;">
						<h2>TAGUCHI Yuma</h2>
						<p>
							<a href="https://twitter.com/ymtgc_tgcym"><img src="{{ .Site.BaseURL }}/images/twitter.png" alt="mail" width=25pt></a>&nbsp;
							<a href="https://www.facebook.com/profile.php?id=100012527255637"><img src="{{ .Site.BaseURL }}/images/facebook.png" alt="mail" width=25pt></a> &nbsp;
							<a href="https://www.linkedin.com/in/yumataguchi/"><img src="{{ .Site.BaseURL }}/images/linkedin.png" alt="mail" width=25pt></a>
						</p>		
						</center>
					</div>
			</div>
		</div>
	</div>
	<!-- <div class="panel panel-default" id="news">
		<div class="panel-heading">
			<h4 align="center">Recently Posts</h4>
		</div>
		<table class="table">
			<tbody>
				{{ range first 5 .Site.RegularPages.ByDate.Reverse }}
				<tr>
					<th scope="row"><time>{{.Date.Format "2006-01-02"}}</time></th>
					<td><a href="{{.RelPermalink}}">{{.Title}}</a></td>
				</tr>
				{{ end }}
				<tr><th></th><td align="right"><a class="nav-link" href="{{ .Site.BaseURL }}/posts/">More...</a></td></tr>
			</tbody>
		</table>
	</div> -->
	<div class="panel panel-default" id="research">
		<div class="panel-heading">
			<h4 align="center">Research Interests</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-4">
					<img class="rounded-circle d-block mx-auto" src="{{ .Site.BaseURL }}/images/data.png" alt="image1" width="200px" style="margin-bottom: 10px;">
					<h3 class="text-center">Mathematical Biology <br> x <br> Data Science</h3>
					<p>
						<b>Keywords</b><br>
						Large Community / Parameter Estimation / Generalized Lotka Volterra Eq / Microbiome / Gut Flora / Machine Learning / Deep Learning
					</p>
					<!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="rounded-circle d-block mx-auto" src="{{ .Site.BaseURL }}/images/calc.png" alt="image2" width="200px"  style="margin-bottom: 10px;">
					<h3 class="text-center">Mathematical Biology <br> x <br> Statistical Physics</h3>
					<p>
						<b>Keywords</b><br>
						Spin Glass / Replicator Equation / Replicator Mutator Equation / Random Interaction / Path Integral / Generating Functional / Replica method / Phase Transition / Replica Symmetry / Replica Symmetry Breaking 
					</p>
					<!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
			<h5 align="right">And More...</h5>
		</div>
	</div>
	<div class="panel panel-default" id="education">
		<div class="panel-heading">
			<h4 align="center">Education</h4>
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>2013.04 ~ 2016.03</th>
					<td>Gifu Prefectual Ena High School</td>
				</tr>
				<tr>
					<th>2016.04 ~ 2020.03</th>
					<td>School of Information and Science, Nagoya University<br>
						<small>
							- Bachelor of Information and Science (March, 2020)<br>
							- Dean's Special Award (March, 2020)
						</small>
					</td>
				</tr>
				<tr>
					<th>2020.04 ~ 2022.03</th>
					<td>Graduate School of Informatics, Nagoya University<br>
						- Master of Informatics (March, 2022)<br>
					</td>
				</tr>
				<tr>
					<th>2022.04 ~ </th>
					<td>xxx, Inc.<br>
					- Researcher</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-default" id="publications">
		<div class="panel-heading">
			<h4 align="center">Publications</h4>
		</div>
		<div class="panel-body">
			{{ partial "publication.md" | markdownify }}
		</div>
	</div>
	<!-- <div class="panel panel-default" id="access">
		<div class="panel-heading">
			<h4 align="center">Access</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-8">
					<h5>Address</h5>
					<p>〒464-0814 <br>
						Furocho, Chikusa-Ku, Nagoya-city, Aichi-Prefecture, Japan.<br>
						Building of Graduate School of Informarics.<br>
						(A4③ <a href="http://en.nagoya-u.ac.jp/map/index.html">Campus Map</a>)</p>
					<h5>Contact</h5>
					<p>E-Mail : taguchi.yuma[at]e.mbox.nagoya-u.ac.jp</p>

				</div>
				<div class="col-lg-4">
					<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d203.8803312016179!2d136.96156014958262!3d35.15449337509389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f140!3m3!1m2!1s0x60037aa29a3de267%3A0x5ab1f030371e0499!2z44CSNDY0LTAwMDAg5oSb55-l55yM5ZCN5Y-k5bGL5biC5Y2D56iu5Yy65a6u5p2x55S6IOWkp-WtpumZouaDheWgseenkeWtpueglOeptuenkQ!5e0!3m2!1sja!2sjp!4v1471588059597" width="100%" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
				</div>
			</div>
		</div>
	</div> -->
	{{ end }}