{{ define "main"}}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
					<div class="container">
						<br>
						<center>
							<img class="rounded-circle d-block mx-auto" src="{{ .Site.BaseURL }}/images/taguchi.jpg" alt="myphoto" width="200px" style="margin: 10px;">
						<h2>TAGUCHI Yuma</h2>
						<p>
							<a href="https://twitter.com/ymtgc_tgcym"><img src="{{ .Site.BaseURL }}/images/twitter.png" alt="mail" width=25pt></a>&nbsp;
							<a href="https://www.facebook.com/profile.php?id=100012527255637"><img src="{{ .Site.BaseURL }}/images/facebook.png" alt="mail" width=25pt></a> &nbsp;
							<a href="https://www.linkedin.com/in/yumataguchi/"><img src="{{ .Site.BaseURL }}/images/linkedin.png" alt="mail" width=25pt></a>
						</p>		
						</center>
					</div>
			</div>
		</div>
	</div>
	<!-- <div class="panel panel-default" id="news">
		<div class="panel-heading">
			<h4 align="center">Recently Posts</h4>
		</div>
		<table class="table">
			<tbody>
				{{ range first 5 .Site.RegularPages.ByDate.Reverse }}
				<tr>
					<th scope="row"><time>{{.Date.Format "2006-01-02"}}</time></th>
					<td><a href="{{.RelPermalink}}">{{.Title}}</a></td>
				</tr>
				{{ end }}
				<tr><th></th><td align="right"><a class="nav-link" href="{{ .Site.BaseURL }}/posts/">More...</a></td></tr>
			</tbody>
		</table>
	</div> -->
	<div class="panel panel-default" id="research">
		<div class="panel-heading">
			<h4 align="center">About</h4>
		</div>
		<div class="panel-body">
			Under Construction
		</div>
	</div>
	<div class="panel panel-default" id="education">
		<div class="panel-heading">
			<h4 align="center">Education</h4>
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>2013.04 ~ 2016.03</th>
					<td>Gifu Prefectual Ena High School</td>
				</tr>
				<tr>
					<th>2016.04 ~ 2020.03</th>
					<td>School of Information and Science, Nagoya University<br>
						<small>
							- Bachelor of Information and Science (March, 2020)<br>
							- Dean's Special Award (March, 2020)
						</small>
					</td>
				</tr>
				<tr>
					<th>2020.04 ~ 2022.03</th>
					<td>Graduate School of Informatics, Nagoya University<br>
						<small>
							- Master of Informatics (March, 2022)<br>
						</small>
					</td>
				</tr>
				<tr>
					<th>2022.04 ~ </th>
					<td>Toyota Central R&D Labs., Inc.<br>
						<small>
							- 2022.10 ~ 2023.3 Cloud Informarics Research-Domain (Nagakute)<br>
							- 2023.4 ~  Cloud Informarics Research-Domain (Tokyo)
						</small>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-default" id="publications">
		<div class="panel-heading">
			<h4 align="center">Publications</h4>
		</div>
		<div class="panel-body">
			{{ partial "publication.md" | markdownify }}
		</div>
	</div>
{{ end }}