{{ define "main"}}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="container">
					<br>
					<center>
						<img class="rounded-circle d-block mx-auto" src="{{ .Site.BaseURL }}/images/taguchi.jpg"
							alt="myphoto" width="200px" style="margin: 10px;">
						<h2>田口 優真 <small>(TAGUCHI Yuma)</small></h2>
						<p>
							<a href="https://twitter.com/ymtgc_tgcym"><img src="{{ .Site.BaseURL }}/images/twitter.png"
									alt="mail" width=25pt></a>&nbsp;
							<a href="https://www.facebook.com/profile.php?id=100012527255637"><img
									src="{{ .Site.BaseURL }}/images/facebook.png" alt="mail" width=25pt></a> &nbsp;
							<a href="https://www.linkedin.com/in/yumataguchi/"><img
									src="{{ .Site.BaseURL }}/images/linkedin.png" alt="mail" width=25pt></a>
						</p>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" id="research">
		<div class="panel-heading">
			<h4 align="center">About</h4>
		</div>
		<div class="panel-body">
			Under Construction
		</div>
	</div>
	<!-- <div class="panel panel-default" id="news">
		<div class="panel-heading">
			<h4 align="center">Recently Posts</h4>
		</div>
		<table class="table">
			<tbody>
				{{ range first 5 .Site.RegularPages.ByDate.Reverse }}
				<tr>
					<th scope="row"><time>{{.Date.Format "2006-01-02"}}</time></th>
					<td><a href="{{.RelPermalink}}">{{.Title}}</a></td>
				</tr>
				{{ end }}
				<tr><th></th><td align="right"><a class="nav-link" href="{{ .Site.BaseURL }}/posts/">More...</a></td></tr>
			</tbody>
		</table>
	</div> -->
	<!-- <div class="panel panel-default" id="twitter">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<a class="twitter-timeline" data-height="500" href="https://twitter.com/ymtgc_tgcym?ref_src=twsrc%5Etfw">Tweets by ymtgc_tgcym</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div> -->
	<div class="panel panel-default" id="biography">
		<div class="panel-heading">
			<h4 align="center">Biography</h4>
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Education</th>
					<td></td>
				</tr>
				<tr>
					<th>2013.04 ~ 2016.03</th>
					<td>岐阜県立恵那高等学校 理数科</td>
				</tr>
				<tr>
					<th>2016.04 ~ 2020.03</th>
					<td>名古屋大学 情報文化学部 自然情報学科<br>
						<small>
							- 学士（情報文化学） (2020年3月)<br>
							- 情報文化学部長特別賞 (2020年3月)
						</small>
					</td>
				</tr>
				<tr>
					<th>2020.04 ~ 2022.03</th>
					<td>名古屋大学 大学院情報学研究科 複雑系科学専攻<br>
						<small>
							- 修士（情報学） (2022年3月)<br>
						</small>
					</td>
				</tr>
				<tr>
					<th>Employment</th>
					<td></td>
				</tr>
				<tr>
					<th>2020.04 ~ 2021.08</th>
					<td>名古屋大学 ティーチングアシスタント<br>
					<small>
						- 2020.4 ~ 2020.8 情報リテラシー(文系)<br>
						- 2021.10 ~ 2021.1 物理学基礎II(情報学部)<br>
						- 2021.4 ~ 2021.8 情報リテラシー(文系)<br>
					</small>
				</td>
				<tr>
					<th>2022.04 ~ </th>
					<td>株式会社豊田中央研究所<br>
					<small>
						- 2022.10 ~ 2023.3 クラウドインフォマティクス研究領域(長久手)<br>
						- 2023.4 ~  クラウドインフォマティクス研究領域(東京)
					</small>
				</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-default" id="publications">
		<div class="panel-heading">
			<h4 align="center">Publications</h4>
		</div>
		<div class="panel-body">
			{{ partial "publication.md" | markdownify }}
		</div>
	</div>
	<div class="panel panel-default" id="publications">
		<div class="panel-heading">
			<h4 align="center">Links</h4>
		</div>
		<div class="panel-body">
			<ul>
				<li><a href="https://school.gifu-net.ed.jp/wordpress/ena-hs/">岐阜県立恵那高等学校</a></li>
				<li><a href="https://www.nagoya-u.ac.jp">名古屋大学</a></li>
				<li><a href="https://www.i.nagoya-u.ac.jp">名古屋大学情報学部・大学院情報学研究科</a></li>
				<li><a href="https://www.phys.cs.i.nagoya-u.ac.jp">名古屋大学大学院情報学研究科 複雑系科学専攻 多自由度システム情報論講座</a></li>
				<li><a href="https://www.phys.cs.i.nagoya-u.ac.jp/~ktlab">名古屋大学大学院情報学研究科 時田研究室</a></li>
				<li><a href="https://www.tytlabs.co.jp">株式会社豊田中央研究所</a>（<a href="https://www.tytlabs.co.jp/company/access-tokyo.html">東京キャンパス</a>）</li>
			</ul>
		</div>
	</div>
{{ end }}